<template>
  <nav class="Navigation">
    <ClientOnly>
      <ul class="Navigation__list">
        <li 
          class="Navigation__item"
          :class="{ 'active': index === activeTab }"
          v-for="(item, index) in pages"
          :key="item"
          @click="changePage(index)"
        ></li>
      </ul>
    </ClientOnly>
  </nav>
</template>

<script lang="ts" setup>
  const pageStore = usePageStore();
  const pages = computed(() => pageStore.getMaxPages);
  const activeTab = computed(() => pageStore.getPage);
  
  const changePage = (page: number) => {
    pageStore.changePage(page);
  }
</script>

<style lang="scss">
  .Navigation {
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translateY(-50%); 
    z-index: 10;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px 15px;
      border-radius: 15px 0 0 15px;
      background-color: rgba(var(--color-black), 1);
    }

    &__item {
      width: 12px;
      height: 12px;
      border-radius: 50%; 
      background-color: rgba(var(--color-base), 1);
      transition: 0.4s;
      cursor: pointer;

      &.active {
        background-color: rgba(var(--color-primary), 1);
      }
    }
  }
</style>

