@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-base: 255, 255, 255;
  --color-black: 0, 0, 0;
  --color-primary: 255, 95, 31;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Kanit', sans-serif;

  background-color: rgba(var(--color-black), 1);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

