<template>
  <div id="Layout" class="Layout">
    <Navigation />
    <NuxtPage />
    <div class="Layout__glow" />
  </div>
</template>

<style lang="scss">
.Layout {
  &__glow {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1000px;
  }
}
</style>
