<template>
  <main class="App">
    <img
      class="View"
      :class="{ 'hidden': isHidden }"
      :src="`pdf/gdo${accPage + 1}.jpg`"
      alt="Pdf view"
    />
  </main>
</template>

<style lang="scss">
  .View {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    object-fit: contain;
    background-color: black;
    transition: 0.5s;

    &.hidden {
      opacity: 0;
    }
  }
</style>

<script setup>
  import { useI18n } from 'vue-i18n';
  const { t } = useI18n();

  useHead({
    htmlAttrs: { lang: 'pl' },
    title: t('page.title'),
    meta: [
      {
        name: 'description',
        content: t('page.description'),
      },
      {
        name: 'og:description',
        content: t('page.description'),
      },
      {
        name: 'keywords',
        content: t('page.keywords'),
      }
    ],
  });  

  onMounted(() => {
    window.addEventListener('wheel', handleScroll);
    window.addEventListener('touchstart', handleTouchStart, false);
    window.addEventListener('touchmove', handleTouchMove, false);
  });

  onBeforeUnmount(() => {
    window.removeEventListener('wheel', handleScroll);
    window.removeEventListener('touchstart', handleTouchStart, false);
    window.removeEventListener('touchmove', handleTouchMove, false);
  });
 
  const pageStore = usePageStore();
  const maxTabs = computed(() => pageStore.getMaxPages);
  const activeTab = computed(() => pageStore.getPage);
  pageStore.setMaxPages(22);
  pageStore.changePage(0);
  const accPage = ref(0);

  const isPreload = ref(true);
  let scrollDelta = 0;

  const handleScroll = (event) => {
    scrollDelta += event.deltaY > 0 ? 1 : -1;

    if (scrollDelta > 2 || scrollDelta < -2) {
      const x = scrollDelta < 0
        ? Math.max(activeTab.value - 1, 0)
        : Math.min(activeTab.value + 1, maxTabs.value - 1)

      changePage(x);
      isPreload.value = false;
      scrollDelta = 0;
    }
  }

  const isHidden = ref(false);
  let hiddenInterval;
  let hiddenInterval2;

  const setHidden = (id) => {
    isHidden.value = true;
    clearTimeout(hiddenInterval);
    clearTimeout(hiddenInterval2);

    hiddenInterval = setTimeout(() => {
      accPage.value = id;
    }, 500)
    
    hiddenInterval = setTimeout(() => {
      isHidden.value = false;
    }, 1000)
  }


  let xDown = null;                                                        
  let yDown = null;

  const getTouches = (evt) => evt.touches || evt.originalEvent.touches;
                                                                       
  const handleTouchStart = (evt) => {
    const firstTouch = getTouches(evt)[0];                                      
    xDown = firstTouch.clientX;                                      
    yDown = firstTouch.clientY;                                      
  };                                                
                                                                         
  const handleTouchMove = (evt) => {
    if (!xDown || !yDown) return;
    isPreload.value = false;
    
    const xUp = evt.touches[0].clientX;                                    
    const yUp = evt.touches[0].clientY;

    const xDiff = xDown - xUp;
    const yDiff = yDown - yUp;
                                                                         
    if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {
      pageStore.changePage(xDiff < 0 
        ? Math.max(activeTab.value - 1, 0)
        : Math.min(activeTab.value + 1, maxTabs.value - 1)
      );
    } else {
      pageStore.changePage(yDiff < 0 
        ? Math.max(activeTab.value - 1, 0)
        : Math.min(activeTab.value + 1, maxTabs.value - 1)
      );
    }

    xDown = null;
    yDown = null;                                             
  };


  watch(activeTab, value => {
    setHidden(value);
  });
</script>

